<div class="row pt-3">
  <%= link_to "<< Back to list", cocktails_path, class: "text-decoration-none text-warning" %>
  <div class="col-12 col-md-6">
    <% if @cocktail.photo.attached? %>
      <%= image_tag url_for(@cocktail.photo), alt: @cocktail.name, class: "cocktail-photo" %>
    <% else %>
      <p>No photo available.</p>
    <% end %>
  </div>
  <div class="col-12 col-md-6">
    <div class="d-flex align-items-center gap-3">
      <h1 class="me-auto"><%= @cocktail.name %></h1>
      <div data-controller="toggle">
        <!-- Edit Button -->
        <button data-action="click->toggle#toggle" class="btn btn-outline-primary">
          <i class="fas fa-edit"></i> Edit
        </button>
        <!-- Popup Edit Form -->
        <div class="edit-popup d-none" data-toggle-target="popup">
          <div class="edit-popup-content position-relative">
            <!-- Cancel button at top-right -->
            <button
              type="button"
              class="btn btn-link position-absolute top-0 end-0 m-0 text-white text-decoration-none"
              data-action="click->toggle#toggle"
              aria-label="Cancel">✕
            </button>
            <h2>Edit <%= @cocktail.name %></h2>
            <%= render "cocktails/form", cocktail: @cocktail %>
          </div>
        </div>
      </div>
      <%= link_to @cocktail,
        data: { turbo_confirm: "Are you sure?", turbo_method: :delete },
        class: "btn btn-outline-danger",
        title: "Delete" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
    <h2>Ingredients: <%= link_to "Add", new_cocktail_dose_path(@cocktail), class: "btn btn-outline-success btn-sm text-white" %><br>
    </h2>
    <ul>
      <% @doses.each do |dose| %>
        <li>
          <%= dose.description %> of <%= dose.ingredient.name %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<h3>Reviews</h3>
<% @cocktail.reviews.each do |review| %>
  <p><strong>Rating:</strong>
    <span style="font-size: 12px;">
      <%= "⭐️" * review.rating + "☆" * (5 - review.rating) %>
    </span>
  </p>
  <p><%= review.content %></p>
  <hr>
<% end %>
<%= link_to "Write a Review", new_cocktail_review_path(@cocktail), class: "btn btn-outline-secondary mb-3" %>
