<div class="my-3 d-flex justify-content-center">
  <div class="w-100" style="max-width: 500px;">
    <h2 class="text-center mb-4">Add Ingredient to <%= @cocktail.name %></h2>
    <% if @cocktail.photo.attached? %>
      <%= image_tag url_for(@cocktail.photo), alt: @cocktail.name, class: "cocktail-photo" %>
    <% else %>
      <p>No photo available.</p>
    <% end %>
    <ul>
      <% @doses.each do |dose| %>
        <li>
          <%= dose.description %> of <%= dose.ingredient.name %>
          <%= link_to "Remove", cocktail_dose_path(@cocktail, dose), data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %>
        </li>
      <% end %>
    </ul>


    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :ingredient_id,
                  collection: Ingredient.all,
                  label: "Choose Ingredient",
                  prompt: "Select one" %>
      <%= f.input :description %>
      <%= f.button :submit, "Add Dose", class: "btn btn-primary w-100" %>
    <% end %>

    <div class="text-center mt-3">
      <%= link_to "Back to #{@cocktail.name}", cocktail_path(@cocktail), class: "text-decoration-none text-white" %>
    </div>
  </div>
</div>
